/* font-family: 'Roboto', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(90deg, #1920e6, #f5d104);
    color: whitesmoke;
    min-height: 100vh;  
}

header {
    font-size: 17px;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    border: none;
    background-color: whitesmoke;
    padding: 6px;
    font-size: 14px;
    border-radius: 4px;
}
form button {
    border: none;
    background-color: whitesmoke;
    padding-top: 4px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 4px;
    border-radius: 4px;
    font-size: 14px;
    color: blue;
}

form button:hover {
    color: white;
    background-color: blue;
    cursor: pointer;
    transition: all 0.5s ease; 
}

h1 {
    background-image: linear-gradient(to right, #ffffff,#26fc00);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.todo-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style-type: none;
}

.todo-itemdiv {
    margin: 5px;
    background-color: whitesmoke;
    color: black;
    font-size: 17px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.todo-itemli {
    flex: 1;
}

.check-btn {
    background-color:whitesmoke;
    border: none;
    color: blue;
    padding: 5px;
    cursor: pointer;
    font-weight: bolder;
}

.delete-btn {
    color: red;
    background-color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-weight: bolder;
}

.check-btn:hover {
    color: white;
    background-color: blue;
}

.delete-btn:hover {
    color: whitesmoke;
    background-color: red;
}

.todo-itemli {
    padding: 5px 5px;
}

/* this selector is used to correct the clicking error in delete btn bcz without this only clicking on the background so this used*/
svg{
    pointer-events: none;
}

.checked {
    text-decoration: line-through;
    opacity: 0.5;
    color: green;
}

/* adding some fuuny cool animation */

/* .fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
} */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color: rgb(46, 2, 40);
    font-weight: bolder;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    width: 10rem;
    padding: 6px;
    border-radius: 4px;
}

.select-item {
    margin: 3px;
    position: relative;
    overflow: hidden;
}

/* getting arrow type */
.select-item::after {
    content: "\25BC";
    position: absolute;
    background: rgb(3, 70, 255);
    top: 0;
    right: 0;
    padding: 4px;
    pointer-events: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.select-item:hover::after {
    background-color: whitesmoke;
    color: blue;
}